*,
html {
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #ede7f6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
path {
    box-shadow:
    0 4.2px 1.5px rgba(0, 0, 0, 0.028),
    0 7.8px 3.6px rgba(0, 0, 0, 0.038),
    0 10.8px 6.4px rgba(0, 0, 0, 0.044),
    0 13.1px 10.6px rgba(0, 0, 0, 0.049),
    0 15px 17.5px rgba(0, 0, 0, 0.055),
    0 17.5px 30.5px rgba(0, 0, 0, 0.062),
    0 29px 66px rgba(0, 0, 0, 0.07)
  ;
}
.result {
    background-color: #D1C4E9;
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 50% 50% 49% 51% / 48% 49% 51% 52%;
    box-shadow:
    0 4.2px 1.5px rgba(0, 0, 0, 0.028),
    0 7.8px 3.6px rgba(0, 0, 0, 0.038),
    0 10.8px 6.4px rgba(0, 0, 0, 0.044),
    0 13.1px 10.6px rgba(0, 0, 0, 0.049),
    0 15px 17.5px rgba(0, 0, 0, 0.055),
    0 17.5px 30.5px rgba(0, 0, 0, 0.062),
    0 29px 66px rgba(0, 0, 0, 0.07)
  ;}
h1 {
    font-size: 50px;
    color: #311B92;
}
h2 {
    height: 100%;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#btn {
    padding: 1rem;
    cursor: pointer;
}
.reset {
    width: 5rem;
    height: auto;
    color: #311B92;
}
.reset:hover {
    background-color: white;
}

@media screen and (max-width:400px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    h1 {
        font-size: 35px;
    }
    .result {
        width: 9rem;
        height: 9rem;
    }
}
